<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Благодійний фонд Допомогти ЗСУ">
	<meta name="description" content="Волонтерський фонд">
	<meta name="description" content="Збройні сили України">
	<meta name="description" content="Всьго зібрано">
	<meta name="description" content="Задонатити для ЗСУ">
	<link rel="stylesheet" type="text/css" href="/style/main.css">
	<title>Домомогти ЗСУ та Збройним силам України</title>
</head>
<body>
	<nav>
		<div class="logotip">
			<img class="img2" src="/picture/2.jpg" alt="Гроші для ЗСУ">
			 <i>Blago Found</i>
		</div>
		<i>Як допомогти</i>
		<i>Що ми робимо</i>
		<i>Про фонд</i>
		<i>Звіти</i>
		<i>Новини</i>
		<i>Контакти</i>
		<a href="/"><i>Ua</i></a>
		<a href="/"><i>En</i></a>
	</nav>
	<div class="bod">
		<i class="fight">Бийся на
			світлій стороні!
		</i>

		<form name="form" class="form1">
			<i class="fight2">Є запитання?
			</i>
			<div class="text-field">
				<label class="text-field__label" for="email">Ім’я</label>
				<div class="text-field__icon text-field__icon_email">
					<input class="text-field__input" type="text" placeholder="Ім’я" name="name" value="">
				</div>
			</div>
			<div class="text-field">
				<label class="text-field__label" for="email">Фамілія</label>
				<div class="text-field__icon text-field__icon_email">
					<input class="text-field__input" type="text" placeholder="Фамілія" name="surname" value="">
				</div>
			</div>
			<div class="text-field">
				<label class="text-field__label" for="email">Телефон</label>
				<div class="text-field__icon text-field__icon_email">
					<input class="text-field__input" type="text" placeholder="Почта" name="phone" value="">
				</div>
			</div>
			<textarea type="text" placeholder="Текст повідомлення" name="message"></textarea>	<br>
			<input type="submit" class="send" value="Відправити">	  
		</form>
	</div>
	<div class="bodbod">
		<i class="fight1">Як домомогти?</i>
		<div class="circles">
			<div class="circle">
			  <div class="circle__number"><i class="fight4"><a href="/">Карта монобанк</a></i></div>
			</div>
		  
			<div class="circle">
			  <div class="circle__number"><i class="fight4"><a href="/">Карта Paypal</a></i></div>
			</div>
		  
			<div class="circle">
			  <div class="circle__number"><i class="fight4"><a href="/">Криптовалюта</a></i></div>
			</div>  
		  </div>
	</div>

	<div class="bodbod1">
		<div>
			<i class="fight">Що ми робимо</i>
		</div>	
		<div class="image">
			<div>
				<img class="image_gom" src="/picture/5.png" alt="Допомогти ЗСУ">
				<i class="fight2">Всього зібрано</i><br><br><br><br>
				<i class="fight3">500 000+ $</i>
			</div>	
			<div>
				<img class="image_gom" src="/picture/6.jpg" alt="Волонтерський фонд">
				<i class="fight2">Машин з гуманітарною допомогою</i><br><br><br>
				<i class="fight3">7</i>
			</div>
			<div>
				<img class="image_gom" src="/picture/7.jpg" alt="Збройні сили">
				<i class="fight2">Авто для ЗСУ</i><br><br><br><br>
				<i class="fight3">2</i>
			</div>
			<div>	
				<img class="image_gom" src="/picture/8.jpg" alt="Пікапи для збройних сил">
				<i class="fight2">Витрачено на потреби ЗСУ</i><br><br><br><br>
				<i class="fight3">20 000+ $</i>
			</div>
		</div>	
		<div class="image">
			<div>
				<img class="image_gom1" src="/picture/9.jfif" alt="Донати для ЗСУ">
				<i class="fight2">ГУМАНІТАРНІ ВАНТАЖІ</i><br><br><br><br>
			</div>	
			<div>
				<img class="image_gom1" src="/picture/10.jpg" alt="Пікапи для ЗСУ">
				<i class="fight2">АВТО ДЛЯ ЗСУ</i><br><br><br>
			</div>
			<div>
				<img class="image_gom1" src="/picture/11.jfif" alt="Волонтерська допомога">
				<i class="fight2">ВАНТАЖІ ДЛЯ ЗСУ</i><br><br><br><br>
			</div>
		</div>	
	</div>

	<div class="blog">
		<i class="fight2">
			<h1>Про фонд</h1>
			Usyk Foundation – це благодійний фонд, створений для допомоги українцям, які постраждали від російської агресії.
			
			<h3>Допомога населенню України</h3>
			Тисячі українців залишилися без даху над головою, без роботи та найнеобхідніших для життя речей. Сім'ї були розділені, рідні загублені. Щодня кількість вбитих та поранених серед мирного населення зростає. Наша задача - забезпечити базові потреби людей, що постраждали під час війни. Ми потребуємо вашої допомоги у цей непростий для кожного українця час.
			
			<h3>Навіть найменша допомога має величезне значення для України сьогодні!</h3>
			Ми маємо змогу працювати та допомагати Україні й українцям лише за вашої участі. Кожна гривня, долар, євро - це підтримка для тих, хто боронить нашу землю, нашу свободу на передовій та в тилу. Саме ви, патріоти України та просто небайдужі з усіх куточків світу, допомагаєте нам здобути перемогу у цій несправедливій війні російського агресора проти українців.
			За нами правда, з нами сила, з нами Бог!
			Все буде Україна!
		</i>
			<img class="img12" src="/picture/12.jpg">
			
	</div>

	<div class="blog2">
		<i class="fight2">
			<h1>Партнери</h1>
			<img class="img13"src="/picture/13.jpg">
		</i>
		<i class="fight2">
			<h1>Контакти</h1>
			<h1>+38(096)2502577</h1>
			<h1>pr@usykfoundation.org</h1>
			<img class="img14" src="/picture/14.jfif">
			<img class="img14" src="/picture/15.png">
		</i>
	</div>
<footer>
	<div class="foot">
		<img class="img14" src="/picture/16.jfif">
		<i><p>Фонд</p></i>
	</div>
	<div class="foot3">
		<i><h3>Як допомогти</h3></i>
		<i><h3>Що ми робимо</h3></i>
		<i><h3>Про фонд</h3></i>
	</div>
	<div class="foot4">
		<i><h3>Звіти</h3></i>
		<i><h3>Контакти</h3></i>
	</div>
	<div class="circles">
		<div class="circle1">
		  <div class="circle__number"><i class="fight4"><a href="/">Допомогти</a></i></div>
		</div>  
	</div>
	
</footer>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="js/login.js"></script>
</body>
</html>    